---
layout: base.njk
title: Sayfa bulunamadı
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="sayfa-bas kap-dar">
  <h1>Bu sayfa bulunamadı</h1>
  <p class="sayfa-bas__giris">Adres değişmiş ya da sayfa kaldırılmış olabilir. <a href="/blog/">Blog</a> veya <a href="/tarifler/">tarifler</a> sayfasından devam edebilirsiniz.</p>
</section>
