---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="tr">
  <title>{{ site.kisaUnvan }} {{ site.ad }} | Blog</title>
  <subtitle>{{ site.aciklama }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  <updated>{% if collections.yazilar.length %}{{ collections.yazilar[0].date.toISOString() }}{% endif %}</updated>
  <author><name>{{ site.ad }}</name></author>
  {%- for y in collections.yazilar | limit(20) %}
  <entry>
    <title>{{ y.data.title }}</title>
    <link href="{{ site.url }}{{ y.url }}"/>
    <id>{{ site.url }}{{ y.url }}</id>
    <updated>{{ (y.data.guncelleme or y.date) | isoTarih }}T00:00:00Z</updated>
    <summary>{{ y.data.ozet }}</summary>
  </entry>
  {%- endfor %}
</feed>
