---
layout: base.njk
title: Mesajınız alındı
permalink: /tesekkurler/
eleventyExcludeFromCollections: true
---
<section class="sayfa-bas kap-dar">
  <h1>Mesajınız alındı</h1>
  <p class="sayfa-bas__giris">Çalışma saatleri içinde telefonla size dönüş yapılacak. Acil bir durumda WhatsApp'tan da yazabilirsiniz.</p>
  <p><a class="dugme" href="/">Ana sayfaya dön</a></p>
</section>
